.cellfield {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  margin: auto;
  height: 95vw;
  width: 95vw;
  max-width: 500px;
  max-height: 500px;
}

.board {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.gameOver {
  display: block;
  margin-top: 25px;
}

