.cell {
  text-align: center;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.cellClicked {
  background-color: white;
  text-align: center;
  position: relative;
}

.cellUnclicked {
  background-color: steelblue;
  border: 1px solid black;
  border-radius: 5px;
}

.cellText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disableCell {
  cursor: not-allowed;
}

@-webkit-keyframes example {
  0%   {transform: rotate(72deg); color:red}
  25%  {transform: rotate(144deg); color:yellow}
  50%  {transform: rotate(216deg); color:blue}
  75%  {transform: rotate(288deg); color:green}
  100% {transform: rotate(360deg); color:red}
}

.super-crazy-colors {
  color: red;
  animation-name: example;
  animation-duration: 4s;
}